<!doctype html>
<html lang="en">
  <%- partial('_partial/head.ejs') %>
  <body>
    <div class="container">
      <%- partial('_partial/header.ejs') %>
    </div>
    <main class="container">
      <%- body %> 
    </main>
    <%- partial('_partial/footer.ejs') %>
  </body>
</html>
