<div class="row g-5 mt-2">
  <div class="col-md-9 col-sm-8">
    <% page.posts.each(function(item){ %>
      <%- partial('_partial/article-excerpt', {item: item}) %>
    <% }); %> 
    <%- partial('_partial/pagination.ejs') %> 
  </div>
  <div class="col-md-3 col-sm-4 border-start">
    <%- partial('_partial/sidebar.ejs') %>
  </div>
</div> 