<div class="position-sticky" style="top: 1rem;">
  <div class="p-0 mt-3 d-flex flex-column justify-content-center align-items-center">
    <div class="info d-flex flex-column justify-content-center align-items-center">
      <img class="rounded-circle" src="https://avatars.githubusercontent.com/u/75817331?v=4" width="80px" alt="avatar">
      <p class="mt-3 text-center"><i class="fa fa-pencil" aria-hidden="true"></i> wqiy | <i class="fa fa-map-marker" aria-hidden="true"></i> 南京</p>
      <a class="btn btn-outline-dark rounded-pill p-1 px-2 mt-3" href=" <%= __("https://www.github.com/" + theme.github) %>" target="_blank">
        <i class="fa fa-github"></i><span>关注</span>
      </a>
    </div>
    <div class="archive p-0 mt-3">
      <%- list_archives() %>
    </div>
    <div class="theme-info text-center mt-5">
      <p class="text-secondary">Adapt by wqiy frome <a href="https://getbootstrap.com/">Bootstrap</a> Blog template</a></p>
      <a href="#" class="fs-1"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
