.blog-pagination
  margin-bottom: 2rem
  display: flex
  justify-content: center
  align-items: center
  a, span
    margin: 0 .2rem
    color: #767676
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    width: 2.25rem
    height: 2.25rem
    border: 1px solid #767676
    border-radius: 50%
  .current
    color: #fff
    border: 1px solid #0d6efd
    background-color: #0d6efd
    width: 2.75rem
    height: 2.75rem