.info
  padding-bottom: 1rem 
  border-bottom: 1px solid rgba(238, 238, 238, 0.58)
  width: 100%
  
.archive-list
  padding: 0
  margin-top: 1rem
  padding-bottom: 1rem 
  border-bottom: 1px solid rgba(238, 238, 238, 0.58)
  width: 100%

.archive-list-item
    list-style: none
    display: flex
    justify-content: space-between
    a, span
      color: rgb(118, 118, 118)
      margin: 0 1rem

.tag-cloud
  padding: 0

.theme-info
  a
    color: rgb(118, 118, 118)
  